@import url('https://fonts.googleapis.com/css2?family=Jura:wght@500;600;700&family=Krona+One&display=swap');

:root {
  --color-primary: #FF5757;
  --color-primary-accent: #000;
  --color-button: #FF5757;
  --color-button-text: #fff;

  --color-red: #FF5757;
  --color-green: #00DA23;
  --color-black: #000;
  --color-pink: #E31CB8;
  --color-purple: #5827C1;
  --color-tiffblue: #65D8D1;

  --color-pheragraph: #616161;
  --color-background: #f1f1f1;
}

[data-theme='red'] {
  --color-primary: #FF5757;
  --color-primary-accent: #000;
  --color-button: #FF5757;
  --color-button-text: #fff;
}

[data-theme='green'] {
  --color-primary: #00DA23;
  --color-primary-accent: #000;
  --color-button: #00DA23;
  --color-button-text: #000;
}

[data-theme='black'] {
  --color-primary: #000;
  --color-primary-accent: #000;
  --color-button: #000;
  --color-button-text: #fff;
}

[data-theme='pink'] {
  --color-primary: #E31CB8;
  --color-primary-accent: #000;
  --color-button: #E31CB8;
  --color-button-text: #fff;
}

[data-theme='purple'] {
  --color-primary: #5827C1;
  --color-primary-accent: #000;
  --color-button: #5827C1;
  --color-button-text: #fff;
}

[data-theme='tiffblue'] {
  --color-primary: #65D8D1;
  --color-primary-accent: #000;
  --color-button: #65D8D1;
  --color-button-text: #000;
}





html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
    font-family: 'Krona One', sans-serif;
    background-color:var( --color-background);
    background-image: url(../src/bg.png);
    background-repeat: repeat repeat;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  
  p{
    color: var(--color-pheragraph);
    font-family: 'Jura', sans-serif;
}
h1,
h2,
h3{
    font-family: 'Krona One', sans-serif;
    color: var(--color-primary);
  }

  h4{
    font-family: 'Krona One', sans-serif;
  }

* {
  box-sizing: border-box;
}


.colors{
  display: flex;
  flex-direction: row;

}

.btn-red{
  background-color: var(--color-red);
  border-radius: 100px;
  width: 40px;
  height: 40px;
  margin-right: 1rem;
}

.btn-green{
  background-color: var(--color-green);
  border-radius: 100px;
  width: 40px;
  height: 40px;
  margin-right: 1rem;
  margin-bottom: 2rem;
}

.btn-black{
  background-color: var(--color-black);
  border-radius: 100px;
  width: 40px;
  height: 40px;
  margin-right: 1rem;
}
.btn-pink{
  background-color: var(--color-pink);
  border-radius: 100px;
  width: 40px;
  height: 40px;
  margin-right: 1rem;
}
.btn-purple{
  background-color: var(--color-purple);
  border-radius: 100px;
  width: 40px;
  height: 40px;
  margin-right: 1rem;
}
.btn-tiffblue{
  background-color: var(--color-tiffblue);
  border-radius: 100px;
  width: 40px;
  height: 40px;
  margin-right: 1rem;
}

.tittlesuccess{
  color: var(--color-primary-accent);
  font-family: 'Krona One', sans-serif;
  font-weight: 600;
  font-size: 2rem;
}

.franja{
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  /* transform: rotateZ(5deg) scale(1.008); */
}

.textanimated{
  animation-name: marqueeLine;
  animation-duration: 20s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  color: white;
}
@keyframes marqueeLine {
  from {
    transform: translateX(0);
  }
  
  to {
    transform: translateX(-100%);
  }
}


.videomain{
  width:321px;
  position: absolute;
}

.SuccessContainerInfo{
  border-radius: 3rem 0 0 3rem;
  
}

.notFoundInfo{
  border-radius: 3rem;
}

.SuccessContainerImage{
  border-radius: 0 3rem 3rem 0;
  overflow: hidden;
}


.acordion1{
  border-radius: 1rem 1rem 0 0;
  padding: 1rem;
}

.acordionsingle{
  border-radius: 1rem;
  padding: 1rem;
}

.acordionTitle:hover{
  outline-style: none;
  border-color:transparent;
}

.acordion2{
  border-radius: 0 0 1rem 1rem;
  padding: 1rem;
}

.acordionTitle{
  font-size: clamp(0.9rem, 8vw - 1rem, 1.2rem);
  color: #000;

}

@media (max-width: 321px) {
  .videomain{
    width:236px;
    position: absolute;
  }
}

@media (max-width: 480px) {

  .notFoundInfo{
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 1.5rem;
  }

  .backlink{
    margin-top: 1rem;
  }

  .colorsStack{
    flex-direction: column;
  }
}




@media (max-width: 991px) {

  .SuccessContainerInfo{
    border-radius: 0 0 3rem 3rem;
  }

  .SuccessContainerImage{
    border-radius: 3rem 3rem 0rem 0rem;
  }

}
